@charset "UTF-8";
.main__cart-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main__cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

.main__cart-heading-item {
  color: #808089;
  flex-wrap: nowrap;
}

.main__cart-heading-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.main__cart-content {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
}

.main__cart-content-product {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
  padding: 10px 0;
}

.main__cart-content-product-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main__cart-content-product-info {
  display: flex !important;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 5px;
  padding: 0 !important;
}

.main__cart-content-product-name-link {
  text-decoration: none;
  color: #333333;
}

.main__cart-content-product-allInfo-wrapper {
  display: flex;
  align-items: center;
}

h1 {
  color: #ff0011;
}

.main__cart-content-product-quantity-input {
  width: 30%;
  height: 100%;
  border-radius: 15px;
  padding: 10px;
  outline: none;
  text-align: center;
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #808089;
}

.main__cart-content-product-quantity-btn-inc,
.main__cart-content-product-quantity-btn-dec {
  color: white;
  background-color: #0073ff;
  border: none;
  border-radius: 100px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  margin: 0;
}

.main__cart-content-brand-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.main__cart-content-brand-name span {
  font-weight: 700;
}

.main__cart-content-product-delivery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.main__cart-content-product-delivery-text {
  font-size: 12px;
  color: #808089;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.main__cart-content-product-total-price {
  color: #0073ff;
}

.main__cart-content-product-remove {
  cursor: pointer;
}

.main__cart-content-product-click-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__cart-footer {
  border-top: 1px solid #808089;
  padding: 10px;
  margin: 0 10px;
}

.main__cart-footer-voucher,
.main__cart-footer-voucher-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.main__cart-footer-voucher-input {
  width: 65%;
  height: 100%;
  border-radius: 15px;
  padding: 10px;
  outline: none;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #808089;
}

.main__cart-footer-voucher-btn {
  color: white;
  background-color: #1aca1a;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: rgba(92, 92, 92, 0.19) 0px 10px 20px, rgba(93, 93, 93, 0.23) 0px 6px 6px;
}

.main__cart-footer-voucher-btn:hover {
  filter: brightness(0.95);
}

.main__cart-summary-heading,
.main__cart-summary-total-price-temporary,
.main__cart-summary-total-price-discount,
.main__cart-summary-total-price-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__cart-summary-header {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.main__cart-summary-heading {
  margin-bottom: 10px;
}

.main__cart-summary-total {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

.main__cart-summary-heading-title {
  color: #808089;
}

.main__cart-summary-heading-edit {
  color: #0073ff;
  text-decoration: none;
  color: white;
  background-color: #0073ff;
  border: none;
  border-radius: 8px;
  padding: 10px 12px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.main__cart-summary-info-name,
.main__cart-summary-info-phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.main__cart-summary-info-name-title,
.main__cart-summary-info-phone-title {
  color: #808089;
}

.main__cart-summary-info-name-name,
.main__cart-summary-info-phone-phone {
  overflow: hidden;
  font-weight: 700;
}

.main__cart-summary-address-name {
  padding-left: 5px;
}

.main__cart-summary-info-name-container,
.main__cart-summary-info-phone-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.main__cart-summary-total-btn {
  color: white;
  background-color: #ff0011;
  border: none;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  outline: none;
  width: 100%;
  margin-top: 10px;
  font-weight: 700;
}

.main__cart-summary-total-btn:hover {
  filter: brightness(0.95);
}

.main__cart-summary-total-price-discount {
  padding: 10px 0;
}

.main__cart-summary-total-price-total {
  border-top: 1px solid #808089;
  padding-top: 10px;
}

.main__cart-summary-total-price-temporary-text,
.main__cart-summary-total-price-discount-text,
.main__cart-summary-total-price-total-text {
  color: #808089;
}

.main__cart-summary-total-price-discount-price,
.main__cart-summary-total-price-total-price,
.main__cart-summary-total-price-temporary-price,
.main__cart-summary-total-price-discount,
.main__cart-summary-info-phone-phone,
.main__cart-summary-address-name {
  font-weight: 700;
}

html {
  position: relative;
}
html .main__cart-summary-edit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(142, 142, 142, 0.5);
  width: 40%;
  z-index: 100;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  border-radius: 15px;
  display: none;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  animation: zoomIn 1s ease;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.main__cart-summary-edit-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main__cart-summary-edit-header h1 {
  color: white;
}

.main__cart-summary-edit-info-name,
.main__cart-summary-edit-info-phone,
.main__cart-summary-edit-info-province,
.main__cart-summary-edit-info-district,
.main__cart-summary-edit-info-ward,
.main__cart-summary-edit-info-address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main__cart-summary-edit-info-name h4,
.main__cart-summary-edit-info-phone h4,
.main__cart-summary-edit-info-province h4,
.main__cart-summary-edit-info-district h4,
.main__cart-summary-edit-info-ward h4,
.main__cart-summary-edit-info-address h4 {
  margin: 10px 20px;
  color: rgba(255, 255, 255, 0.908);
  font-weight: 500;
}
.main__cart-summary-edit-info-name input,
.main__cart-summary-edit-info-phone input,
.main__cart-summary-edit-info-province input,
.main__cart-summary-edit-info-district input,
.main__cart-summary-edit-info-ward input,
.main__cart-summary-edit-info-address input {
  border: none;
  background-color: transparent;
  padding: 10px;
  margin: 10px 20px;
  color: black;
  font-weight: 700;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
  width: 50%;
  outline: none;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.main__cart-summary-edit-info-name select,
.main__cart-summary-edit-info-phone select,
.main__cart-summary-edit-info-province select,
.main__cart-summary-edit-info-district select,
.main__cart-summary-edit-info-ward select,
.main__cart-summary-edit-info-address select {
  border: none;
  background-color: transparent;
  padding: 10px;
  color: black;
  font-weight: 700;
  font-size: 14px;
  text-align: right;
  outline: none;
  border-radius: 15px;
  text-align: center;
  margin: 10px 20px;
  width: 50%;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.main__cart-summary-edit-info-name select option,
.main__cart-summary-edit-info-phone select option,
.main__cart-summary-edit-info-province select option,
.main__cart-summary-edit-info-district select option,
.main__cart-summary-edit-info-ward select option,
.main__cart-summary-edit-info-address select option {
  border: none;
  outline: none;
  border-radius: 0; /* Đặt border-radius cho option (nếu cần) */
  text-align: center;
}
.main__cart-summary-edit-info-name textarea,
.main__cart-summary-edit-info-phone textarea,
.main__cart-summary-edit-info-province textarea,
.main__cart-summary-edit-info-district textarea,
.main__cart-summary-edit-info-ward textarea,
.main__cart-summary-edit-info-address textarea {
  border: none;
  background-color: transparent;
  padding: 10px;
  color: black;
  font-weight: 700;
  font-size: 14px;
  text-align: right;
  width: 50%;
  outline: none;
  border-radius: 15px;
  margin: 10px 20px;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  text-align: center;
}
.main__cart-summary-edit-info-name textarea::placeholder,
.main__cart-summary-edit-info-phone textarea::placeholder,
.main__cart-summary-edit-info-province textarea::placeholder,
.main__cart-summary-edit-info-district textarea::placeholder,
.main__cart-summary-edit-info-ward textarea::placeholder,
.main__cart-summary-edit-info-address textarea::placeholder {
  text-align: center;
}

.main__cart-summary-edit-info-close {
  position: absolute;
  top: 18px;
  right: 12px;
  padding: 10px;
  cursor: pointer;
}

.main__cart-summary-edit-info-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main__cart-summary-edit-info-btn button {
  color: white;
  background-color: #1aca1a;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 10px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

html {
  position: relative;
}
html .main__modal-success {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 28%;
  height: 30%;
  transform: translate(-50%, -50%);
  background-color: rgba(206, 15, 15, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  z-index: 100;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: none;
  animation: zoom 0.7s ease;
}
@keyframes zoom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none;
  cursor: pointer;
}

.main__modal-success-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__modal-success-content h3 {
  margin: 10px 0;
  font-size: 22px;
  font-weight: 600;
  color: rgb(67, 66, 66);
}
.main__modal-success-content img {
  margin: 20px 0 5px 0;
}

.main__modal-success-btn {
  margin: 10px 0 20px 0;
}
.main__modal-success-btn button:first-child {
  color: rgb(255, 254, 254);
  background-color: #0073ff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  margin-right: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.main__modal-success-btn button:last-child {
  color: rgb(83, 81, 81);
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.main__modal-success-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  color: #0073ff;
}

.main__cart-content-warning {
  display: flex;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px;
  font-size: 25px;
  font-weight: 600;
  color: #808089;
  margin: 20px 0 0 0;
  display: none;
}
.main__cart-content-warning p {
  margin: 0;
}

html {
  position: relative;
}
html .main__modal-confirm-delete {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 28%;
  height: 30%;
  transform: translate(-50%, -50%);
  background-color: rgba(206, 15, 15, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  z-index: 100;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: none;
  animation: zoom 0.7s ease;
}
@keyframes zoom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none;
  cursor: pointer;
}

.main__modal-confirm-delete-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__modal-confirm-delete-content h3 {
  margin: 10px 0;
  font-size: 22px;
  font-weight: 600;
  color: rgb(67, 66, 66);
}
.main__modal-confirm-delete-content img {
  margin: 20px 0 5px 0;
}

.main__modal-delete-content-btn {
  margin: 10px 0 20px 0;
}
.main__modal-delete-content-btn button:first-child {
  color: rgb(255, 254, 254);
  background-color: #ff0011;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  margin-right: 5px;
  font-size: 14px;
  padding: 12px 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.main__modal-delete-content-btn button:last-child {
  color: rgb(83, 81, 81);
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
  font-size: 14px;
  padding: 12px 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/*# sourceMappingURL=cart.css.map */
