.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__top-search,
.header__top-notification-container,
.header__top-account-avatar,
.header__top-cart,
.header__top-language-first,
.header__top-download-app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header__top-notification-text, .header__top-account-text, .header__top-download-app-text, .header__top-language-text, .header__bottom-contact-hotline-call-text, .header__bottom-contact-hotline-mail-text, .header__bottom-quickSearch-item {
  color: rgb(0, 0, 0) !important;
  font-weight: 700;
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.header__top-logo {
  width: 120px;
}

.header__top-logo-img {
  width: 120px;
  height: 40px;
}

.header__top-search {
  position: relative;
}

.header__top-search-input {
  width: 800px;
  border-radius: 50px;
  padding: 10px;
  outline: none;
  font-size: 12px;
  border: 2px solid #0073ff;
}

.header__top-search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #0073ff;
}

.header__top-notification-icon {
  font-size: 18px;
  margin-right: 5px;
  color: #1aca1a;
}

.header__top-notification {
  position: relative;
  cursor: pointer;
}

.header__top-notification-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: linear-gradient(to bottom, #ff0011, #0073ff);
  border-radius: 15px;
  z-index: 100;
  width: 400px;
  animation: zoomInTopLeft 0.5s ease-in-out;
  -webkit-animation: zoomInTopLeft 0.5s ease-in-out;
}

@keyframes zoomInTopLeft {
  0% {
    transform: scale(0);
    transform-origin: top left;
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform-origin: top left;
    opacity: 1;
  }
}
.header__top-notification:hover .header__top-notification-dropdown {
  display: block;
}

.header__top-notification-dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 5px;
  position: relative;
}

.header__top-notification-dropdown-item-text-content {
  display: flex;
  flex-direction: column;
}

.header__top-notification-dropdown-item-btn {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.header__top-notification-dropdown-item-img {
  margin-right: 10px;
}

.header__top-notification-dropdown-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.header__top-notification-dropdown-item-title {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  width: 280px;
}

.header__top-notification-dropdown-item-description {
  color: white;
  font-weight: 400;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 280px;
  padding-bottom: 7px;
}

.header__top-notification-dropdown-item-description::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  width: 50%;
  background-color: white;
  transform: translateX(50%);
}

.header__top-account {
  position: relative;
  cursor: pointer;
}

.header__top-account::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 20px;
  background-color: transparent;
}

.header__top-account-dropdown {
  display: none;
  position: absolute;
  padding: 5px 0;
  margin-top: 5px;
  width: 210px;
  left: 0;
  top: 100%;
  background: linear-gradient(to left, #0073ff, #1aca1a);
  border-radius: 15px;
  z-index: 100;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header__top-account:hover .header__top-account-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.header__top-account-icon {
  font-size: 18px;
  margin-right: 5px;
  color: #0073ff;
}

.header__top-account-dropdown-item {
  text-decoration: none;
  color: white;
  padding: 8px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__top-account-dropdown-item-icon {
  margin-right: 5px;
}

.header__top-download-app {
  position: relative;
}

.header__top-download-app-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to top, #1aca1a, #0073ff);
  border-radius: 15px;
  padding: 10px;
  z-index: 100;
  animation: fadeIn 0.75s ease-in-out;
}

.header__top-download-app:hover .header__top-download-app-dropdown {
  display: block;
}

.header__top-download-app-dropdown-qr {
  border-radius: 15px;
}

.header__top-download-app-dropdown-note {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__top-download-app-dropdown-text {
  color: white;
  margin-right: 10px;
}

.header__top-download-app-dropdown-img {
  margin-right: 5px;
}

.header__top-cart-container {
  position: relative;
}

.header__top-cart-container::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 1px;
  height: 38px;
  background: rgba(95, 95, 95, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: scaleY(-50%);
}

.header__top-cart {
  font-size: 18px;
  padding: 10px;
  border-radius: 50px;
  color: #0073ff;
}

.header__top-cart-quantity {
  position: absolute;
  right: 5px;
  top: 0;
  padding: 5px;
  color: #ff0011;
  font-weight: 700;
  font-size: 12px;
  border-radius: 50%;
  width: 10px;
  height: 15px;
}

.header__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 140px;
}

.header__bottom-quickSearch {
  display: flex;
}

.header__bottom-quickSearch-item {
  text-decoration: none;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.515) !important;
}

.header__bottom-contact-hotline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-top: 1px solid rgba(175, 175, 175, 0.468);
  padding-top: 10px;
}

.header__bottom-contact-hotline-call {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header__bottom-contact-hotline-call span {
  font-weight: 500;
  letter-spacing: 1.4px;
  color: rgb(0, 0, 0);
}

.header__bottom-contact-hotline-mail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header__bottom-contact-hotline-mail span {
  font-weight: 500;
  letter-spacing: 1.4px;
  color: rgb(0, 0, 0);
}

/*# sourceMappingURL=header.css.map */
