/* Đặt các thuộc tính mặc định cho thẻ html */
html {
  font-size: 14px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Đặt các thuộc tính mặc định cho thẻ body */
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
  font-weight: 500;
  font-style: normal;
  background-color: #f4f4f4cd;
  color: #333;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

header {
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
 
}

footer {
  margin: 20px 0 0 0;
  padding: 20px;
  background-color: white;
  border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Đảm bảo box-sizing áp dụng cho tất cả các phần tử */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body{
  overflow: scroll;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}


