@charset "UTF-8";
.main__left {
  position: sticky;
  top: 0;
  height: 100%;
  overflow-y: scroll;
}

.main__right {
  overflow-y: auto;
  padding: 0 !important;
}

.main__left::-webkit-scrollbar,
.main__right::-webkit-scrollbar {
  display: none;
}

.main__left-category-item,
.main__left-other-service-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 5px;
  font-family: "Geologica", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 0;
}

.main__left-category-title,
.main__left-other-service-title {
  margin-top: 0;
}

.main__left-category,
.main__left-other-service {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 15px;
}

.main__left-category-item,
.main__left-other-service-item {
  text-decoration: none;
  line-height: 1.4;
  color: #333333;
}

.main__right-advertisement {
  background-color: white;
  padding: 20px 10px;
  margin: 20px 0;
  border-radius: 15px;
  width: 100%;
  height: auto; /* Chiều cao của khung hình */
  overflow: hidden; /* Ẩn các ảnh ngoài khung */
}

.main__right-advertisement-img {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
  width: calc(50% - 18px); /* Mỗi ảnh chiếm khoảng 50% */
  height: auto;
  margin: 0 8px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main__right-advertisement-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.main__right-advertisement-img-container {
  flex: 0 0 100%;
  justify-content: space-between;
  margin: 0 10px;
}

.main__right-advertisement {
  position: relative;
}

.main__right-advertisement-icon-control-before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.main__right-advertisement-img {
  cursor: pointer;
  max-width: 100%;
}

.main__right-advertisement-icon-control-after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.main__right-advertisement-icon-control-before,
.main__right-advertisement-icon-control-after {
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 100;
  display: block; /* Mặc định là hiển thị */
}

.main__right-advertisement-icon-control-before.hidden,
.main__right-advertisement-icon-control-after.hidden {
  display: none; /* Ẩn khi cần */
}

.main__right-quick-access {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 15px;
}

.main__right-quick-access-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.main__right-quick-access-item a {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.main__right-flashSale-product {
  background-color: white;
  padding: 20px 12px;
  margin: 20px 0;
  border-radius: 15px;
}

.main__right-flashSale-products {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap !important;
  gap: 10px;
  margin: 10px 0 !important;
  width: calc(100% - 45px);
}

.main__right-flashSale-product-title-text {
  text-decoration: none;
  color: #ff0011;
  font-weight: 600;
  font-size: 18px;
  font-family: "Ubuntu", serif;
  font-style: normal;
}

.main__right-flashSale-product-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__right-flashSale-product-more {
  text-decoration: none;
  color: #0073ff;
}

.main__right-product-item-info-container {
  border-bottom: 1px solid rgba(109, 105, 105, 0.625);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.main__right-flashSale-product-item {
  padding: 20px 0;
  border-radius: 15px;
  border: 1px solid rgba(109, 105, 105, 0.205);
  cursor: pointer;
}

.main__right-flashSale-product-item {
  transition: all 0.5s ease;
}
.main__right-flashSale-product-item .main__right-flashSale-product-item-img-inner, .main__right-flashSale-product-item .main__right-flashSale-product-label-left-first, .main__right-flashSale-product-item .main__right-flashSale-product-label-right {
  transition: all 0.5s ease;
}

.main__right-flashSale-product-item:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: box-shadow 0.3s ease;
}
.main__right-flashSale-product-item:hover .main__right-flashSale-product-item-img-inner, .main__right-flashSale-product-item:hover .main__right-flashSale-product-label-left-first, .main__right-flashSale-product-item:hover .main__right-flashSale-product-label-right {
  transform: translateY(-5px);
}

.main__right-flashSale-product-item:nth-child(5):hover {
  box-shadow: none;
  transition: none;
}
.main__right-flashSale-product-item:nth-child(5):hover .main__right-flashSale-product-item-img-inner {
  transform: none;
}

.main__right-flashSale-product-item-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main__right-flashSale-product-item-info-name {
  font-weight: 400;
  color: black;
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0;
  font-family: "Overpass", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.main__right-flashSale-product-item-info-price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.main__right-flashSale-product-item-info-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.main__right-flashSale-product-item-info-discount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: right;
}

.main__right-flashSale-product-item-info-price-current {
  color: red;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.main__right-flashSale-product-item-info-price-old {
  color: #808089;
  text-decoration: line-through;
  font-size: 12px;
  line-height: normal;
}

.main__right-flashSale-product-item-info-discount {
  color: red;
  font-weight: 400;
  background-image: linear-gradient(120deg, #9effc2 0%, #feffc3 100%);
  padding: 5px 10px;
  border-radius: 15px;
}

.main__right-flashSale-product-item-quantityRemain {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.main__right-flashSale-product-item-quantityRemain-text {
  background-color: transparent;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.main__right-flashSale-product-item-quantityRemain-text p {
  font-size: 12px;
}

.main__right-flashSale-product-item-quantityRemain-bar-bottom {
  background-color: rgba(148, 148, 148, 0.218);
  width: 14%;
  height: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  border-radius: 15px;
}

.main__right-flashSale-product-item-quantityRemain-bar-top {
  background: linear-gradient(to right, rgba(255, 241, 132, 0.9254901961), #fde210);
  height: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.main__right-flashSale-product-item-quantityRemain-bar-fire {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.main__right-flashSale-product-item-quantityRemain-bar-fire-icon {
  position: absolute;
  z-index: 100;
}

.main__right-flashSale-product-item-buy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main__right-flashSale-product-item-buy button {
  color: white;
  background-color: #1aca1a;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  outline: none;
}

.main__right-product-item-thumbnail {
  display: block;
}

.main__right-flashSale-product-badge {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1px;
  position: absolute;
  top: 3px;
  left: 3px;
  padding-right: 2px;
  padding-top: 1px;
}

.main__right-flashSale-product-badge-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(87, 253, 250), rgb(71, 246, 94));
  width: 45%;
  height: 30px;
  padding: 5px 3px;
  border-radius: 5px;
}

.main__right-flashSale-product-badge-1-first {
  color: #0073ff;
  font-weight: 700;
  font-size: 8px;
  line-height: 12px;
  margin: 0;
  font-style: italic;
}

.main__right-flashSale-product-badge-1-second {
  background-color: rgb(255, 248, 56);
  text-align: center;
  color: #ff0011;
  font-weight: 700;
  margin: 0;
  padding: 2px;
  border-radius: 5px;
  font-size: 10px;
  line-height: 10px;
  font-style: italic;
}

.main__right-flashSale-product-badge-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background: linear-gradient(to left, rgb(242, 244, 121), rgb(61, 253, 253));
  width: 50%;
  height: 30px;
  padding: 6px 3px;
  padding-right: 5px;
  border-radius: 5px;
}

.main__right-flashSale-product-badge-2-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__right-flashSale-product-badge-2-second-text1 {
  font-size: 8px;
  font-weight: 700;
  color: #0073ff;
  line-height: 12px;
  margin: 0;
}

.main__right-flashSale-product-badge-2-second-text2 {
  font-size: 8px;
  font-weight: 700;
  color: #0073ff;
  line-height: 12px;
  margin: 0;
}

#hours,
#minutes,
#seconds {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.main__right-flashSale-product-time-delivery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

#time_delivery {
  color: #808089;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
}

.main__right-product::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trên WebKit (Chrome, Safari) */
}

.main__right-product-container,
.main__right-topBrand-products-container,
.main__right-topForeignGoods-products-container, .main__right-topDeal-products-container {
  position: relative;
}
.main__right-product-container .main__right-product-control-slider img:first-child,
.main__right-topBrand-products-container .main__right-product-control-slider img:first-child,
.main__right-topForeignGoods-products-container .main__right-product-control-slider img:first-child, .main__right-topDeal-products-container .main__right-product-control-slider img:first-child {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translate(0, -50%);
  z-index: 50;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.main__right-product-container .main__right-product-control-slider img:last-child,
.main__right-topBrand-products-container .main__right-product-control-slider img:last-child,
.main__right-topForeignGoods-products-container .main__right-product-control-slider img:last-child, .main__right-topDeal-products-container .main__right-product-control-slider img:last-child {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translate(0, -50%);
  z-index: 50;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.main__right-forYou-product {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 15px;
}

.main__right-forYou-product-title {
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main__right-forYou-product-title a {
  text-decoration: none;
  color: #0073ff;
}

.main__right-topDeal-product {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 15px;
}

.main__right-topDeal-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap !important;
  position: relative;
  flex: 0 0 100%;
}

.main__right-topDeal-product-title-heading span {
  font-family: "Ubuntu", serif;
  font-weight: 600;
  font-style: normal;
}

.main__right-topDeal-products-item {
  position: relative;
  max-width: 16.66% !important;
  border: 1px solid rgba(133, 131, 131, 0.489);
  border-radius: 15px;
  margin: 10px 5px;
  padding: 10px;
  align-self: stretch;
  transition: transform 0.3s ease;
  max-width: calc(16.666667% - 10px) !important;
  cursor: pointer;
}
.main__right-topDeal-products-item {
  transition: all 0.5s ease;
}
.main__right-topDeal-products-item .main__right-product-item-thumbnail {
  transition: all 0.5s ease;
}
.main__right-topDeal-products-item:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: scale(1.02);
}
.main__right-topDeal-products-item:hover .main__right-product-item-thumbnail {
  transform: translateY(-5px);
}

.main__right-topDeal-product-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main__right-topDeal-product-title span {
  font-weight: 700;
  color: #ff0011;
  font-size: 18px;
}

.main__right-topDeal-product-viewAll {
  text-decoration: none;
  color: #0073ff;
}

#time_delivery_forTopDealProducts {
  color: #808089;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
}

.main__right-topBrand,
.main__right-topForeignGoods,
.main__right-suggest-product {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 15px;
}

.main__right-topBrand-product-title,
.main__right-topForeignGoods-product-title,
.main__right-suggest-product-title {
  font-weight: 600;
}

.main__right-suggest-product {
  margin-bottom: 0;
}

.main__right-topBrand-product-item {
  position: relative;
  max-width: 16.66% !important;
  border: 1px solid rgba(133, 131, 131, 0.269);
  border-radius: 15px;
  margin: 20px 5px;
  padding: 10px;
  align-self: stretch;
  transition: transform 0.3s ease;
  max-width: calc(16.666667% - 10px) !important;
  cursor: pointer;
}

#time_delivery_forTopBrand {
  color: #808089;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
}

.main__right-topBrand-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap !important;
  position: relative;
  flex: 0 0 100%;
}

.main__right-topBrand-product-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.main__right-topBrand-product-title a {
  text-decoration: none;
  color: #0073ff;
}

.main__right-topBrand-product-item {
  transition: all 0.5s ease;
}
.main__right-topBrand-product-item .main__right-product-item-thumbnail {
  transition: all 0.5s ease;
}

.main__right-topBrand-product-item:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: scale(1.02);
}
.main__right-topBrand-product-item:hover .main__right-product-item-thumbnail {
  transform: translateY(-5px);
}

.main__right-topForeignGoods-product-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.main__right-topForeignGoods-product-title a {
  text-decoration: none;
  color: #0073ff;
}

#time_delivery_forTopForeign {
  color: #808089;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
}

.main__right-topForeignGoods-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap !important;
  position: relative;
  flex: 0 0 100%;
}

.main__right-topForeignGoods-products-item {
  position: relative;
  max-width: 16.66% !important;
  border: 1px solid rgba(133, 131, 131, 0.489);
  border-radius: 15px;
  margin: 20px 5px;
  padding: 10px;
  align-self: stretch;
  transition: transform 0.3s ease;
  max-width: calc(16.666667% - 10px) !important;
  cursor: pointer;
}

.main__right-topForeignGoods-products-item {
  transition: all 0.5s ease;
}
.main__right-topForeignGoods-products-item .main__right-product-item-thumbnail {
  transition: all 0.5s ease;
}

.main__right-topForeignGoods-products-item:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: scale(1.02);
}
.main__right-topForeignGoods-products-item:hover .main__right-product-item-thumbnail {
  transform: translateY(-5px);
}

.main__right-viewMore-product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #0073ff;
}

.main-right-viewMore-product {
  text-align: center;
  margin: 20px 0;
}

.main__right-viewMore-product-link {
  text-decoration: none;
  text-align: center;
  border: 1px solid #0073ff;
  border-radius: 15px;
  padding: 10px;
  color: #0073ff;
  color: white;
  background-color: #0073ff;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.main__right-suggest-product-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
  border: 1px solid rgba(141, 141, 141, 0.3215686275);
  border-radius: 5px;
}

.main__right-suggest-product-header-content {
  display: flex !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 20px;
  margin: 0 !important;
  padding: 10px 20px !important;
  max-width: calc(16.666667% - 15px) !important;
}

.main__right-suggest-product-header-content:not(:first-child) img, .main__right-suggest-product-header-content:not(:first-child) a {
  transition: all 0.5s ease;
}

.main__right-suggest-product-header-content:not(:first-child):hover img, .main__right-suggest-product-header-content:not(:first-child):hover a {
  transform: translateY(-5px);
}

.main__right-suggest-product-header-link {
  text-decoration: none;
  color: #333333;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 0;
  padding-bottom: 5px;
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.main__right-suggest-product-header-content:first-child {
  border-bottom: 2px solid #1aca1a;
  background-image: linear-gradient(-225deg, #20e2d7 0%, #f9fea5 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.dot.active {
  background-color: #0073ff; /* Chấm tròn màu đen cho slide hiện tại */
}

#time_delivery_forSuggestProducts {
  color: #808089;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
}

.main__right-suggest-products {
  height: 910px; /* Chiều cao khi thu gọn */
  overflow-y: hidden;
  transition: max-height 1s ease-in-out;
}

.main__right-suggest-products::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trên WebKit (Chrome, Safari) */
}

.expand_suggest_products {
  height: 100%; /* Giá trị lớn hơn đảm bảo mở rộng đủ */
  overflow-y: scroll;
}

.collapse_suggest_products {
  height: 910px; /* Chiều cao thu gọn */
  overflow-y: hidden;
}

.main__right-suggest-product-item {
  position: relative;
  max-width: 16.66% !important;
  border: 1px solid rgba(133, 131, 131, 0.489);
  border-radius: 15px;
  margin: 10px 5px;
  padding: 10px;
  align-self: stretch;
  transition: transform 0.3s ease;
  max-width: calc(16.666667% - 10px) !important;
  cursor: pointer;
}

.main__right-suggest-product-item {
  transition: all 0.5s ease;
}
.main__right-suggest-product-item .main__right-product-item-thumbnail {
  transition: all 0.5s ease;
}

.main__right-suggest-product-item:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: scale(1.02);
}
.main__right-suggest-product-item:hover .main__right-product-item-thumbnail {
  transform: translateY(-5px);
}

.main__right-suggest-product-item-topProductsBrand h3 {
  color: #0073ff;
  text-align: center;
  margin: 15px 0 2px 0;
  font-family: "Prompt", serif;
  font-weight: 600;
  font-style: normal;
}
.main__right-suggest-product-item-topProductsBrand p {
  margin: 5px 0;
  color: #808089;
  text-align: center;
}
.main__right-suggest-product-item-topProductsBrand a {
  color: black;
  text-decoration: none;
}

.main__right-suggest-product-item-topProductsBrand-topSell-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
  gap: 10px;
}

.main__right-suggest-product-item-topProductsBrand-topSell-item {
  position: relative;
}
.main__right-suggest-product-item-topProductsBrand-topSell-item p {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #ff0011;
  padding: 3px 5px;
  border-radius: 15px;
}

.main__right-suggest-product-item-topProductsBrand-topSell-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main__right-suggest-product-item-topProductsBrand-topSell-button button {
  color: white;
  background-color: #1aca1a;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  outline: none;
}

.main__right-suggest-product-item-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  border-radius: 50px;
  padding: 20px;
}

.main__right-suggest-products-item {
  border: 1px solid rgba(179, 179, 179, 0.4941176471);
  margin: 10px 0;
  border-radius: 15px;
}

.main__right-suggest-product-item-topProductsBrand-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  font-weight: bold;
  color: #333333;
}

.main__right-suggest-product-header-title {
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.main__right-forYou-product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap !important;
  position: relative;
  flex: 0 0 100%;
}

.main__right-product-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main__right-product-item {
  position: relative;
  max-width: 16.66% !important;
  border: 1px solid rgba(133, 131, 131, 0.269);
  border-radius: 15px;
  margin: 20px 5px;
  padding: 10px;
  align-self: stretch;
  transition: transform 0.3s ease;
  max-width: calc(16.666667% - 10px) !important;
  cursor: pointer;
}
.main__right-product-item h4 {
  font-weight: 400;
}

.main__right-product-item:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: scale(1.02);
}
.main__right-product-item:hover .main__right-product-item-thumbnail {
  transform: translateY(-5px);
  transition: all 0.5s ease;
}

.main__right-product-item-price-general {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.main__right-product-item-discountPrice {
  color: #ff0011;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  line-height: 16px;
}

.main__right-product-item-price {
  color: #808089;
  text-decoration: line-through;
  font-weight: 400;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.main__right-product-item-discountPercentage {
  font-size: 12px;
  background-color: rgba(107, 107, 107, 0.132);
  padding: 5px;
  border-radius: 15px;
  line-height: 12px;
  margin: 0;
}

.main__right-product-item-price-discount {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main__right-product-item-details {
  min-height: 500px !important;
}

.main__right-product-item-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main__right-product-item-title {
  font-size: 18px;
  color: #0073ff;
  font-weight: 500 !important;
  margin: 0;
  margin-bottom: 10px;
  min-height: 60px !important;
  display: flex;
  align-self: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.main__right-product-item-description {
  font-size: 14px;
  color: #808089;
  font-weight: 400;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.main__right-product-item-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__right-product-item-rating-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.main__right-product-item-sold {
  color: #808089;
  margin: 5px 0;
}

.main__right-product-item-tags {
  color: #808089;
  font-weight: 400;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Hiển thị tối đa 3 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main__right-highlightGoods-products {
  border-radius: 15px;
  background-color: white;
}

.main__right-highlightGoods-products-list {
  flex-wrap: nowrap !important;
  padding: 5px 25px;
  border-radius: 15px;
  width: calc(100% - 30px);
}

.main__right-highlightGoods-product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(138, 138, 138, 0.4588235294);
  border-radius: 15px;
  margin: 10px 5px;
  padding: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main__right-highlightGoods-product-item:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  filter: brightness(1.1);
  cursor: pointer;
}
.main__right-highlightGoods-product-item:hover img {
  transition: all 0.8s ease;
}

.main__right-highlightGoods-product-item {
  transition: all 0.5s ease;
}
.main__right-highlightGoods-product-item img {
  transition: all 0.5s ease;
}

.main__right-highlightGoods-product-item:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  filter: brightness(1.15);
  cursor: pointer;
}
.main__right-highlightGoods-product-item:hover img {
  transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

.main__right-highlightGoods-product-item-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-top: 28px;
}
.main__right-highlightGoods-product-item-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.4588235294);
  border-radius: 50%;
  z-index: -1;
  margin-top: 5px;
}

.main__right-highlightGoods-product-item-title p {
  text-align: center;
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-top: 30px;
}

#gradient1 {
  background-image: linear-gradient(to right, rgba(146, 254, 157, 0.4980392157) 0%, rgba(0, 200, 255, 0.4470588235) 100%);
}

#gradient2 {
  background-image: linear-gradient(to top, rgba(241, 112, 97, 0.5019607843) 0%, #ff6ba6 100%);
}

#gradient3 {
  background-image: linear-gradient(to right, rgba(35, 151, 252, 0.6705882353) 0%, rgba(94, 247, 255, 0.4549019608) 100%);
}

#gradient4 {
  background-image: linear-gradient(60deg, rgba(73, 250, 45, 0.368627451) 0%, rgba(123, 190, 248, 0.431372549) 37%, #2cacd1 65%, #35eb93 100%);
}

#gradient5 {
  background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
}

#gradient6 {
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}

/*# sourceMappingURL=main.css.map */
