$primary-color: #0073ff;
$secondary-color: #1aca1a;
$tertiary-color: #ff0011;
$color-text: #333333;
$color-text-secondary: #808089;
$font_size: 14px;
$font_size_small: 12px;
$font_size_large: 18px;
$font-weight-normal: 400;
$font-weight-bold: 700;
$padding: 10px;
$padding-small: 5px;
$padding-large: 20px;
$margin: 10px;
$margin-small: 5px;
$margin-large: 20px;
$gap-small: 5px;
$gap-large: 20px;
$gap: 10px;
$border-radius-small: 15px;
$border-radius: 50px;
$border-rounded: 50%;




