@use "./_variables" as *;
@use "./_mixins" as *;

// Footer GENERAL

.footer::after{
  content: "";
  display: block;
  height: 1px;
  margin: $margin-large auto;
  width: 100%;
  background-color: #85858557;
}

.footer__container{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    
}

.footer__support-item-container, .footer__about-item-container, .footer__contact-item-container{
  @include flex(column, center, left);
}

// Footer Support

.footer__support-item, .footer__about-item, .footer__contact-item{
    text-decoration: none;
    color: $color-text-secondary;
}

.footer__support-item-text{
    color: $color-text;
}

// Footer Contact

.footer__contact-item-link{
    text-decoration: none;
    padding: 5px;
}

// Footer Delivery

.footer__delivery-item-container{
    width: 60%;
    @include flex(column, center, center);
}

.footer__delivery-item{
    margin: 2px;
}

.footer__quick-contact{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    position: fixed;
    bottom: 0;
    right: 0;
    padding: $padding;
    @include flex(column,center,center);
    border-radius: $border-radius-small;
    margin: $margin-large;
    z-index: 100
}

.footer__quick-contact-container{
    @include flex(column, center, center);
    border-bottom: 2px solid rgba(255, 255, 255, 0.586);
}

.footer__quick-contact-item{
    padding: $padding;
    cursor: pointer;
    animation-iteration-count: infinite;
}

.footer__scrollToTop{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
    margin: $margin $margin-large;
    z-index: 100;
}

@keyframes scrollUpAnimation {
    0% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-10px); 
    }
    100% {
      transform: translateY(0); 
    }
  }
  
  .footer__scrollToTop-img {
    width: 50px;
    height: 50px;
    animation: scrollUpAnimation 1s infinite; 
  }
  
  .footer__scrollToTop-img:hover {
    opacity: 0.8; 
    animation-play-state: paused; 
  }
  
  // Footer Info

  .footer__info-item{
    display: flex !important;
    @include flex(column, center, center);
  }

  .footer__info-item-logo{
    @include flex(row, center, center);
    gap: $gap-small;
    p{
      margin: 0;
      font-size: $font_size_large;
      font-weight: $font-weight-bold;
    }
  }

  .footer__info-item-message{
    margin: $margin 0; 
    text-align: center;
  }

  .footer__info-item-copyright{
    margin: $margin 0 0 0;
  }
  
  .footer__info-item-certification{
    text-align: center;
    h3{
      margin: 0 0 $margin-small 0;
    }
  }

  .footer__info-item-certification-img{
    @include flex(row, center, center);
    gap: $gap-large;
    img{
      cursor: pointer;
    }
  }
  